/target
.cargo

# Локальные сборки LLVM
llvm-build/
llvm-project/

# Временная папка скретчей и клоны
scratch/
blake3_repo/
mimalloc/
*.vsix

# Бинарные артефакты и дампы
*.exe
*.obj
*.pdb
*.ll
*.bc
*.bin

# Генерация proto
examples/proto/*.gen.gw
examples/proto/*.combined.gw
